body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(86, 81, 184) 0%, rgb(96, 162, 175) 100%);
}

.teste1{
    display: flex;
    justify-content: space-around;
}

.escapamento{
    margin-left: 100px;
}